{%extends "base.html"%}

{%block head%}
    <title>VPlan Maschine | tinkertoe</title>
    <link rel="icon" href="/static/logo.png">
{% endblock %}

{%block body%}
        <p class="lead" style="font-size: 25px;">W&auml;hle deine Klasse:</p>

        <!-- class select button -->
        <div style="margin-top: 20px;">

          <div class="btn-group" style="margin-bottom: 10px; margin-right:8px">
            <button type="button" class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              5. Klassen
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/5LM">5LM</a>
            </div>
          </div>

          <div class="btn-group" style="margin-bottom: 10px; margin-right:8px">
            <button type="button" class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              6. Klassen
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/6LM">6LM</a>
            </div>
          </div>

          <div class="btn-group" style="margin-bottom: 10px; margin-right:8px">
            <button type="button" class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              7. Klassen
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/7_2">7/2</a>
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/7_3">7/3</a>
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/7_4">7/4</a>
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/7LM">7LM</a>
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/7M">7M</a>
            </div>
          </div>

          <div class="btn-group" style="margin-bottom: 10px; margin-right:8px">
            <button type="button" class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              8. Klassen
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/8_2">8/2</a>
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/8_3">8/3</a>
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/8LM">8LM</a>
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/8M">8M</a>
            </div>
          </div>

          <div class="btn-group" style="margin-bottom: 10px; margin-right:8px">
            <button type="button" class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              9. Klassen
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/9_2">9/2</a>
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/9_3">9/3</a>
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/9LM">9LM</a>
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/9M">9M</a>
            </div>
          </div>

          <div class="btn-group" style="margin-bottom: 10px; margin-right:8px">
            <button type="button" class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              10. Klassen
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/10_2">10/2</a>
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/10_3">10/3</a>
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/10_4">10/4</a>
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/10LM">10LM</a>
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/10M">10M</a>
            </div>
          </div>

          <div class="btn-group" style="margin-bottom: 10px; margin-right:8px">
            <button type="button" class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              11. Klassen
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/11">11</a>
            </div>
          </div>

          <div class="btn-group" style="margin-bottom: 10px; margin-right:8px" >
            <button type="button" class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              12. Klassen
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="http://vp.tinkertoe.net/vp/12">12</a>
            </div>
          </div>

        </div>
        <!-- Buttons END -->

        

{% endblock %}
